In [1]:
from datetime import datetime
start_time = datetime.now()

# Libraries to install
# %pip install pandas-profiling

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statistics

## Reading Data

In [2]:
data = pd.read_csv('NY property data.csv')

In [3]:
data.shape

(1070994, 32)

## Remove Exclusion Records

In [4]:
# first look at the most frequent owners
remove_list=data['OWNER'].value_counts().head(20).index.tolist()
remove_list

['PARKCHESTER PRESERVAT',
 'PARKS AND RECREATION',
 'DCAS',
 'HOUSING PRESERVATION',
 'CITY OF NEW YORK',
 'DEPT OF ENVIRONMENTAL',
 'BOARD OF EDUCATION',
 'NEW YORK CITY HOUSING',
 'CNY/NYCTA',
 'NYC HOUSING PARTNERSH',
 'YORKVILLE TOWERS ASSO',
 'DEPARTMENT OF BUSINES',
 'DEPT OF TRANSPORTATIO',
 'MTA/LIRR',
 'PARCKHESTER PRESERVAT',
 'MH RESIDENTIAL 1, LLC',
 '434 M LLC',
 'LINCOLN PLAZA ASSOCIA',
 'DEUTSCHE BANK NATIONA',
 '561 11TH AVENUE TMG L']

In [5]:
# remove some of these and add some others to also be removed
remove_list.remove('YORKVILLE TOWERS ASSO')
remove_list.remove('434 M LLC')
remove_list.remove('DEUTSCHE BANK NATIONA')
remove_list.remove('561 11TH AVENUE TMG L')
remove_list.append('UNITED STATES OF AMER')
remove_list.append('U S GOVERNMENT OWNRD')
remove_list.append('THE CITY OF NEW YORK')
remove_list.append('NYS URBAN DEVELOPMENT')
remove_list.append('NYS DEPT OF ENVIRONME')
remove_list.append('CULTURAL AFFAIRS')
remove_list.append('DEPT OF GENERAL SERVI')
remove_list.append('DEPT RE-CITY OF NY')

In [6]:
remove_list

['PARKCHESTER PRESERVAT',
 'PARKS AND RECREATION',
 'DCAS',
 'HOUSING PRESERVATION',
 'CITY OF NEW YORK',
 'DEPT OF ENVIRONMENTAL',
 'BOARD OF EDUCATION',
 'NEW YORK CITY HOUSING',
 'CNY/NYCTA',
 'NYC HOUSING PARTNERSH',
 'DEPARTMENT OF BUSINES',
 'DEPT OF TRANSPORTATIO',
 'MTA/LIRR',
 'PARCKHESTER PRESERVAT',
 'MH RESIDENTIAL 1, LLC',
 'LINCOLN PLAZA ASSOCIA',
 'UNITED STATES OF AMER',
 'U S GOVERNMENT OWNRD',
 'THE CITY OF NEW YORK',
 'NYS URBAN DEVELOPMENT',
 'NYS DEPT OF ENVIRONME',
 'CULTURAL AFFAIRS',
 'DEPT OF GENERAL SERVI',
 'DEPT RE-CITY OF NY']

In [7]:
property_data = data[~data['OWNER'].isin(remove_list)].reset_index(drop=True)
property_data.shape

(1046826, 32)

In [8]:
data.shape

(1070994, 32)

In [9]:
# this is how many records we removed
len(data) - len(property_data)

24168

## Filling in Missing ZIPS

In [10]:
# How many zips are missing? Replace NAN with 0 and count them
missing_zips = np.where(pd.isnull(property_data['ZIP']))[0]
len(missing_zips)

21772

In [11]:
# Assume the data is already sorted by zip. If a zip is missing, 
# and the before and after zips are the same, fill in the zip with that value
for i in range(len(missing_zips)):
    if(property_data.loc[missing_zips[i]+1,'ZIP'] == property_data.loc[missing_zips[i]-1,'ZIP']):
        property_data.loc[missing_zips[i],'ZIP'] = property_data.loc[missing_zips[i]-1,'ZIP']

In [12]:
# How many are still left to fill in?
missing_zips = np.where(pd.isnull(property_data['ZIP']))[0]
len(missing_zips)

10245

In [13]:
# for the remaining missing zips, just fill in with previous record zip.
for i in range(len(missing_zips)):
    property_data.loc[missing_zips[i],'ZIP'] = property_data.loc[missing_zips[i]-1,'ZIP']
missing_zips = np.where(pd.isnull(property_data['ZIP']))[0]
len(missing_zips)

0

## Filling in Missing STORIES

In [14]:
temp = property_data[property_data['STORIES'].isnull()]
len(temp)

43968

In [15]:
temp['TAXCLASS'].value_counts()

1B    19055
4     17979
2      3434
3      2416
1       877
2C      138
2B       34
2A       30
1A        5
Name: TAXCLASS, dtype: int64

In [16]:
# calculate avergae STORIES by tax class
mean_stories = property_data.groupby('TAXCLASS')['STORIES'].mean()
print(mean_stories)

TAXCLASS
1      2.111633
1A     1.656867
1B     4.000000
1C     3.052748
1D     1.068966
2     16.310549
2A     2.844032
2B     4.001635
2C     4.744977
3      1.000000
4      5.517257
Name: STORIES, dtype: float64

In [17]:
len(property_data[property_data['STORIES']==0])

0

In [18]:
# fill in with the average by tax class
property_data['STORIES']=property_data['STORIES'].fillna(value=0)
for index in mean_stories.index:
    property_data.loc[(property_data['STORIES']==0)&(property_data['TAXCLASS']==index),'STORIES']=mean_stories[index]

## Filling In Missing FULLVAL, AVLAND, AVTOT

### Calculate means for AVTOT, AVLAND, FULLVAL by taxclass, avoiding the records with zeros

In [19]:
## FULLVAL means
property_data['FULLVAL'].replace('NaN',0)
temp=property_data[property_data['FULLVAL']!=0]
mean_fullval=temp.groupby('TAXCLASS')['FULLVAL'].mean()
print(mean_fullval)

TAXCLASS
1     5.700059e+05
1A    3.352942e+05
1B    3.738399e+05
1C    7.615359e+05
1D    2.233614e+07
2     8.005832e+05
2A    8.639066e+05
2B    1.254525e+06
2C    7.723493e+05
3     8.510005e+04
4     2.772747e+06
Name: FULLVAL, dtype: float64

In [20]:
# AVLAND means
property_data['AVLAND'].replace('NaN',0)
temp_avland=property_data[property_data['AVLAND']!=0]
mean_avland=temp_avland.groupby('TAXCLASS')['AVLAND'].mean()
print(mean_avland)

TAXCLASS
1      14901.860425
1A      2247.472465
1B      9185.394750
1C      8225.658898
1D    709303.793103
2      88471.102578
2A     31370.740197
2B     54607.394911
2C     25635.944099
3      28135.636364
4     444996.049088
Name: AVLAND, dtype: float64

In [21]:
# AVTOT means
property_data['AVTOT'].replace('NaN',0)
temp_avtot=property_data[property_data['AVTOT']!=0]
mean_avtot=temp_avtot.groupby('TAXCLASS')['AVTOT'].mean()
print(mean_avtot)

TAXCLASS
1     2.502549e+04
1A    1.437036e+04
1B    9.189080e+03
1C    2.898447e+04
1D    1.166866e+06
2     3.602638e+05
2A    7.963525e+04
2B    1.790961e+05
2C    1.170418e+05
3     3.829505e+04
4     1.294237e+06
Name: AVTOT, dtype: float64

### Subsituting decent values for AVTOT, AVLAND, FULLVAL from averages by taxclass

In [22]:
%%time
for index in mean_fullval.index:
    property_data.loc[(property_data['FULLVAL']==0)&(property_data['TAXCLASS']==index),'FULLVAL']=mean_fullval[index]
    property_data.loc[(property_data['AVLAND']==0)&(property_data['TAXCLASS']==index),'AVLAND']=mean_avland[index]
    property_data.loc[(property_data['AVTOT']==0)&(property_data['TAXCLASS']==index),'AVTOT']=mean_avtot[index]

CPU times: user 1.85 s, sys: 55.6 ms, total: 1.9 s
Wall time: 1.79 s

## Filling In Missing Lot and Building Sizes

In [23]:
# Because these 4 fields do not have NAs, we just need to replace 0s and the 1s. 
# We think zero and 1 are both  invalid values for these fields, so replace them with NA.
# Calculate groupwise average. Replace 0 and 1's by NAs so they are not counted in calculating mean.
property_data.loc[property_data['LTFRONT']==0,'LTFRONT']=np.nan
property_data.loc[property_data['LTDEPTH']==0,'LTDEPTH']=np.nan
property_data.loc[property_data['BLDFRONT']==0,'BLDFRONT']=np.nan
property_data.loc[property_data['BLDDEPTH']==0,'BLDDEPTH']=np.nan
property_data.loc[property_data['LTFRONT']==1,'LTFRONT']=np.nan
property_data.loc[property_data['LTDEPTH']==1,'LTDEPTH']=np.nan
property_data.loc[property_data['BLDFRONT']==1,'BLDFRONT']=np.nan
property_data.loc[property_data['BLDDEPTH']==1,'BLDDEPTH']=np.nan

In [24]:
# Calculate mean now (mean function ignores NAs but not 0s hence we converted 0 to NA)
mean_LTFRONT=property_data.groupby(property_data['TAXCLASS'])['LTFRONT'].mean()
mean_LTDEPTH=property_data.groupby(property_data['TAXCLASS'])['LTDEPTH'].mean()
mean_BLDFRONT=property_data.groupby(property_data['TAXCLASS'])['BLDFRONT'].mean()
mean_BLDDEPTH=property_data.groupby(property_data['TAXCLASS'])['BLDDEPTH'].mean()

In [25]:
# Now impute values with the average for that record's TAXCLASS
for index in mean_LTFRONT.index:
    property_data.loc[(property_data['LTFRONT'].isnull())&(property_data['TAXCLASS']==index),'LTFRONT']=mean_LTFRONT[index]    
    property_data.loc[(property_data['LTDEPTH'].isnull())&(property_data['TAXCLASS']==index),'LTDEPTH']=mean_LTDEPTH[index]
    property_data.loc[(property_data['BLDFRONT'].isnull())&(property_data['TAXCLASS']==index),'BLDFRONT']=mean_BLDFRONT[index]
    property_data.loc[(property_data['BLDDEPTH'].isnull())&(property_data['TAXCLASS']==index),'BLDDEPTH']=mean_BLDDEPTH[index]

## Some Code Help for Making NY Variables

In [26]:
data = property_data.copy()
data.shape

(1046826, 32)

In [27]:
# convert ZIP to a string rather than a float
# We call the first three digits of a zip zip3
data['ZIP'] = data['ZIP'].astype(str)
data['zip3'] = data['ZIP'].str[:3]

In [28]:
# feature engineering
data['ltsize'] = data['LTFRONT'] * data['LTDEPTH']
data['bldsize'] = data['BLDFRONT'] * data['BLDDEPTH']
data['bldvol'] = data['bldsize'] * data['STORIES']

In [29]:
data['r1'] = data['FULLVAL'] / data['ltsize']
data['r2'] = data['FULLVAL'] / data['bldsize']
data['r3'] = data['FULLVAL'] / data['bldvol']
data['r4'] = data['AVLAND'] / data['ltsize']
data['r5'] = data['AVLAND'] / data['bldsize']
data['r6'] = data['AVLAND'] / data['bldvol']
data['r7'] = data['AVTOT'] / data['ltsize']
data['r8'] = data['AVTOT'] / data['bldsize']
data['r9'] = data['AVTOT'] / data['bldvol']

In [30]:
%%time
ninevars = ['r1','r2','r3','r4','r5','r6','r7','r8','r9']
zip5_mean = data.groupby('ZIP')[ninevars].mean()
zip3_mean = data.groupby('zip3')[ninevars].mean()
taxclass_mean = data.groupby('TAXCLASS')[ninevars].mean()
borough_mean = data.groupby('BORO')[ninevars].mean()
data = data.join(zip5_mean, on='ZIP', rsuffix = '_zip5')
data = data.join(zip3_mean, on='zip3', rsuffix = '_zip3')
data = data.join(taxclass_mean, on='TAXCLASS', rsuffix = '_taxclass')
data = data.join(borough_mean, on='BORO', rsuffix = '_boro')
rsuffix = ['_zip5', '_zip3', '_taxclass', '_boro']
for var in ninevars:
    for r in rsuffix:
        data[str(var)+r] = data[var] / data[str(var)+r]

CPU times: user 2.38 s, sys: 642 ms, total: 3.03 s
Wall time: 2.62 s

In [31]:
a = data[['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9',
       'r1_zip5', 'r2_zip5', 'r3_zip5', 'r4_zip5', 'r5_zip5', 'r6_zip5',
       'r7_zip5', 'r8_zip5', 'r9_zip5', 'r1_zip3', 'r2_zip3', 'r3_zip3',
       'r4_zip3', 'r5_zip3', 'r6_zip3', 'r7_zip3', 'r8_zip3', 'r9_zip3',
       'r1_taxclass', 'r2_taxclass', 'r3_taxclass', 'r4_taxclass',
       'r5_taxclass', 'r6_taxclass', 'r7_taxclass', 'r8_taxclass',
       'r9_taxclass', 'r1_boro', 'r2_boro', 'r3_boro', 'r4_boro', 'r5_boro',
       'r6_boro', 'r7_boro', 'r8_boro', 'r9_boro']].describe().round(2)
a=a.transpose()

In [32]:
a

,count,mean,std,min,25%,50%,75%,max
r1,1046826.0,213.57,532.56,0.0,76.26,152.86,243.18,138637.34
r2,1046826.0,536.42,1027.44,0.0,211.82,500.00,683.82,310551.57
r3,1046826.0,244.08,498.82,0.0,82.50,239.06,336.23,227500.00
r4,1046826.0,10.46,69.98,0.0,2.35,4.60,7.23,22249.80
r5,1046826.0,22.82,378.51,0.0,6.20,14.98,20.29,334636.37
r6,1046826.0,10.04,178.33,0.0,2.02,7.15,10.04,111545.46
r7,1046826.0,26.83,203.87,0.0,5.28,8.58,13.53,64711.85
r8,1046826.0,50.46,932.20,0.0,17.47,26.98,36.00,871362.22
r9,1046826.0,19.07,327.02,0.0,7.09,12.68,17.58,290454.07
r1_zip5,1046826.0,1.00,2.16,0.0,0.46,0.92,1.23,747.76
r2_zip5,1046826.0,1.00,2.13,0.0,0.44,0.96,1.26,658.74
r3_zip5,1046826.0,1.00,2.73,0.0,0.39,0.93,1.24,956.75
r4_zip5,1046826.0,1.00,5.13,0.0,0.28,0.75,1.10,2456.16
r5_zip5,1046826.0,1.00,8.17,0.0,0.34,0.80,1.08,5004.51
r6_zip5,1046826.0,1.00,10.01,0.0,0.25,0.73,1.02,4200.70
r7_zip5,1046826.0,1.00,5.81,0.0,0.29,0.63,0.95,3237.54
r8_zip5,1046826.0,1.00,7.37,0.0,0.44,0.74,1.00,5527.75
r9_zip5,1046826.0,1.00,7.91,0.0,0.40,0.71,0.96,4864.74
r1_zip3,1046826.0,1.00,2.40,0.0,0.43,0.86,1.23,727.14
r2_zip3,1046826.0,1.00,2.12,0.0,0.40,0.95,1.27,756.25
r3_zip3,1046826.0,1.00,2.65,0.0,0.35,0.93,1.27,912.30
r4_zip3,1046826.0,1.00,6.39,0.0,0.28,0.69,1.06,2051.04
r5_zip3,1046826.0,1.00,17.12,0.0,0.30,0.77,1.05,15414.36
r6_zip3,1046826.0,1.00,16.14,0.0,0.22,0.70,1.00,9790.65
r7_zip3,1046826.0,1.00,7.31,0.0,0.26,0.54,0.83,2407.60
r8_zip3,1046826.0,1.00,22.53,0.0,0.42,0.70,0.93,21881.14
r9_zip3,1046826.0,1.00,16.31,0.0,0.39,0.68,0.93,14530.83
r1_taxclass,1046826.0,1.00,2.93,0.0,0.37,0.68,1.06,1119.59
r2_taxclass,1046826.0,1.00,3.74,0.0,0.49,0.78,1.06,1525.68
r3_taxclass,1046826.0,1.00,3.48,0.0,0.49,0.81,1.11,923.91
r4_taxclass,1046826.0,1.00,3.32,0.0,0.32,0.71,1.10,1438.08
r5_taxclass,1046826.0,1.00,6.44,0.0,0.33,0.82,1.12,4260.03
r6_taxclass,1046826.0,1.00,6.31,0.0,0.30,0.82,1.14,3169.93
r7_taxclass,1046826.0,1.00,2.95,0.0,0.38,0.73,1.12,1286.40
r8_taxclass,1046826.0,1.00,6.13,0.0,0.45,0.84,1.12,4680.65
r9_taxclass,1046826.0,1.00,5.63,0.0,0.45,0.84,1.15,4204.08
r1_boro,1046826.0,1.00,2.37,0.0,0.42,0.84,1.24,727.14
r2_boro,1046826.0,1.00,2.00,0.0,0.40,0.95,1.27,756.58
r3_boro,1046826.0,1.00,2.54,0.0,0.35,0.92,1.28,932.87
r4_boro,1046826.0,1.00,6.31,0.0,0.27,0.67,1.06,2054.62
r5_boro,1046826.0,1.00,17.15,0.0,0.30,0.77,1.05,15466.54
r6_boro,1046826.0,1.00,16.04,0.0,0.22,0.70,1.00,9483.22
r7_boro,1046826.0,1.00,7.28,0.0,0.26,0.51,0.81,2407.60
r8_boro,1046826.0,1.00,21.93,0.0,0.41,0.70,0.93,21241.27
r9_boro,1046826.0,1.00,15.73,0.0,0.39,0.67,0.94,13819.33

In [33]:
a.to_excel('stats_on_vars_FaresAlMuhtaseb.xls')